@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Hahmlet:wght@600&family=Jua&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 62.5%;
    list-style: none;
    font-family: 'Jua', sans-serif;

}

.side {
    border-right: 1px solid #ccc;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 94rem;
    position: fixed;
}

.side_name {
    padding: 5rem 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.side_name>img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}

.side_name p {
    font-size: 4rem;
    margin-top: 1.5rem;
    font-family: 'Hahmlet', serif;

}

nav {
    width: 100%;
    height: 40rem;
}

nav ul {
    display: flex;
    flex-direction: column;
}

nav li {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 3.5rem;
    margin-bottom: 2rem;
    padding: 1rem;
    padding-left: 1.5rem;

}

nav li:hover {
    cursor: pointer;
    border: 1px solid #b0daea;
    background-color: #b0daea;

}

/* 인트로 */
.intro {
    width: 100%;
    height: 35rem;
    background-color: antiquewhite;
    padding-top: 13rem;
}

.intro::before {
    content: "";
    background-image: url("img/intro_back.jpg");
    background-size: cover;
    opacity: 0.35;
    position: absolute;
    top: 0px;
    left: 30rem;
    right: 0px;
    bottom: 0px;
    height: 48rem;
    width: 160.3rem;
    z-index: 1;
}

.intro>div {
    font-family: 'Hahmlet', serif;
    position: relative;
    z-index: 2;
}

.intro_title {
    width: 48rem;
    margin: 0 auto;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 5rem;
}

.intro_content {
    text-align: center;
    font-size: 2.5rem;
}

/* aboutMe */
#info {
    width: 100%;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#about_me {
    font-size: 6rem;
    font-family: 'Black Han Sans', sans-serif;
}

#about_me+hr {
    height: 0.2rem;
    background-color: black;
}

#info_wrap_box {
    display: flex;
    font-size: 2.5rem;
    width: 80rem;
    justify-content: space-between;
}

.info_wrap {
    display: flex;
    flex-direction: column;
}

.info_wrap>div {
    display: flex;
    margin: 0.8rem;
}

.info_title {
    font-size: 2.5rem;
    width: 15rem;
}

.info_content {
    font-family: 'Hahmlet', serif;
    font-size: 2rem;
}

/* skills */
#skills {
    width: 100%;
    height: 88rem;
    background-color: #b0daea;
    display: flex;
    padding-top: 5rem;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}

.skills_title {
    font-size: 6rem;
    margin-bottom: 10rem;
}

.skills_title>hr {
    height: 0.2rem;
    background-color: black;
}

.skills_wrap {
    display: flex;
    justify-content: space-around;
    width: 100rem;

}

.skills_wrap>div {
    width: 25rem;

}

.skill_title {
    font-size: 3.5rem;
    text-align: center;
    width: 17rem;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    bottom: 2rem;
    border-radius: 1rem;
    border: 2px solid black;
    box-shadow: 3px 2px 4px black;
}

.frontend {
    width: 100%;
    height: 45rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 2rem;
    box-shadow: 3px 2px 4px black;
}

.frontend>img {
    width: 15rem;
}

.backend {
    width: 100%;
    height: 67rem;
    background-color: #fff;
    display: flex;
    border-radius: 2rem;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 2px 4px black;

}

.backend>img {
    width: 15rem;
}

.tools {
    width: 100%;
    height: 35rem;
    background-color: #fff;
    display: flex;
    border-radius: 2rem;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 3px 2px 4px black;
}

.tools>img {
    width: 15rem;
}

.skill_events:hover {
    position: relative;
    bottom: 1rem;
    box-shadow: 0 0 25px black;
    transition-duration: 0.5s;
}

.swiper-wrapper>div {
    width: 10rem;
}

.project_one_img {
    background-image: url("projects/mango1.png");
}

.project_two_img {
    background-image: url("projects/mango2.png");
}

.project_three_img {
    background-image: url("projects/mango3.png");
}

footer {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    font-size: 2.3rem;
}

#topBtn {
    width: 10rem;
    height: 10rem;
    position: fixed;
    top: 80rem;
    right: 5rem;
    background-image: url('img/arrowUp.png');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.projects_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 1vh;
    border:1px solid black;
    border-radius: 3vh;
}
.project_title{
    font-size: 5vh;
}
.project_title_sub{
    font-size: 3vh;
}


.swiper {
    width: 55vh;
    height: 10vh;
    position: relative;
}

.swiper .swiper-slide {
    height: 10vh;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
    font-weight: bold;
}

.material-icons {
    font-size: 3vh;
    color: white;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: "";
    display: none;
}

.swiper-pagination {
    color: white;
}
